/* Index > Accueil */


#accueil h2 {
    background-color: WHITE;
    font-size: 3vmax;
    border-radius: 20px;
    margin: 20vw;
}

#accueil {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    background: url(../Illustrations/Index/chevalier.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: center;
    

    height: auto;
    width: auto;
}