/*Titre*/
#factions-col h2 {
    padding-top:3%;
    margin-bottom: -2%;
}

/*Nom de clans*/
#factions-col h3{
    color:rgb(110, 54, 9);
    font-size: 2.5vmax;
    margin-bottom: -2%;
}

/* Index > factions-col */


#factions-col {
    background-color: wheat;
    text-align: center;
    border-radius: 30px;

    margin-top: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

#factions-col .flexClans {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;

    gap: 0;
}

/* Responsive */
#factions-col .mobile {
    display: flex;
    padding: 4vw;
}
@media screen and (max-width: 500px) {
    #factions-col .mobile {
        display: block;
    }
}

/* Gestion des tailles des éléments de la sections */
#factions-col .clan {
    width: 50%;
    height: auto;
}
#factions-col .photoGens {
    width: 100%;
    height: auto;
}


