/* Index > factions-col */


#factions-col {
    background-color: wheat;
    text-align: center;
    margin: 20vh;
    border-radius: 30px;
}

#factions-col .flexClans {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;

    gap: 0;
}

/* Responsive */
#factions-col .mobile {
    display: flex;
}
@media screen and (max-width: 500px) {
    #factions-col .mobile {
        display: block;
    }
}

/* Gestion des tailles des éléments de la sections */
#factions-col .clan {
    width: 50%;
    height: auto;
}
#factions-col .photoGens {
    width: 100%;
    height: 50vmax;
}
#factions-col .photoBlason {
    width: 80%;
    height: auto;
}

