/* Index > frise */

h2 {
    text-align: center;
}

#frise {
    background-color:wheat;
    border-radius: 30px;
    margin: 20vh;
}

#frise div{
    display: flex;
    justify-content: center;
}

#frise figcaption{
    text-align: center;
}

