/* Fichier Général Index */

@import url("../Commun-Aux-Pages/header.css");
@import url("../Commun-Aux-Pages/footer.css");

@import url("accueil.css");
@import url("factions-col.css");
@import url("intro.css");
@import url("slider-lieux.css");


main h1 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: -0.5%;
}

main .imageintro {
    display:flex;
    justify-content: center;
}

main .imageintro>img{
    width:7vw;
    margin-top: 2%;
}
@media screen and (max-width: 900px) {
    section.main p{
        font-size: 2vmax;
    }
    main {
        margin:0;
    }
    }