/* Index > Intro */


#intro {
  background-color: wheat;
  border-radius: 30px;
  align-items: center;
  padding: 50px;
  margin-top: 20vh;
}

#intro {
  display: flex;
  flex-direction: column;
  
  text-align: left;
  justify-content: center;
  align-items: center;
  gap: 5px;

  height: auto;
  width: auto;

  margin-left: 1vmax;
  margin-right: 1vmax;
}

#intro a{
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  border: 4px double white;
  color: black;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 10vmax;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  font-size: 1vmax; 
}

#intro a:hover {
  background-color: rgb(231, 231, 231);
}
