/* Index > Intro */

#intro {
  background-color: wheat;
  border-radius: 30px;
  align-items: center;
  padding: 0 50px 50px 50px;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  
  text-align: left;
  justify-content: center;
  align-items: center;
  gap: 5px;

  height: auto;
  width: auto;

  margin-left: 9.5vmax;
  margin-right: 9.5vmax;
}

#intro a{
  display: inline-block;
  text-decoration: none;
  background-color: white;

  border-radius: 10px;
  border: 4px double white;
  color: rgb(110, 54, 9);
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 10vmax;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  font-size: 1vmax; 
}

#intro a:hover {
  background-color: rgb(231, 231, 231);
<<<<<<< Updated upstream
  color:black;
}

#intro .enSavoirPlus{
  margin-top: 2%;
}

#intro h2 {
  margin-bottom: 0;
=======
>>>>>>> Stashed changes
}
