p {
    font-size: 1vw;
}

#slider-lieux,#clans {
    display : flex;
    justify-content: center;
}

.afficher {
    width : 50vw
}
#clans {
    padding-top: 20px;
}

:is(#slider-lieux,#clans) h2{
    text-align: center;
    text-decoration: underline wheat 5px;
}

:is(#slider-lieux,#clans) h3{
    text-decoration: underline wheat 3px;
    text-align: center;
}

:is(#slider-lieux,#clans) img {
    width: 20vw;
    border-radius: 10px;
    margin-left: 0;
}

.slider {
    margin-bottom: 3%;
}

#slider-lieux p {
    margin: 30px;
    text-align: justify;
}

.rejoignezFaction {
    font-size: 2vw;
    margin-top: 0;
}
.cAvous {
    margin-bottom: 0;
}
/* Mise au centre de l'image et du texte*/

.affimage{
    display: flex;
    justify-content: center;
}

/* Mise au centre du texte à coté de l'image*/
.texte{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive */
@media screen and (max-width: 900px) {
    #slider-lieux p {
        margin: 0;
        font-size: 2vw;
    }
    #clan .texte p {
        margin: 0;
        font-size: 2vw;
    }
    #slider-lieux img {
        margin-left: 0;
        margin-right: 1vw;
    }
    .afficher {
        width : 70vw
    }
}