/*police d'écriture*/
@font-face {
    font-family: Kingthings;
    src: url(Police/Kingthings.woff) format('woff');
 }

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Kingthings;
    font-size: 4vmax;
}

h2{
    font-family: Kingthings;
    font-size: 3vmax;
}

h3{
    font-family:Kingthings;
    font-size: 2vmax;
}