/* footer */

/*Image du footer*/
footer img {
    width: 15vw;
}

footer ul {
    display: flex;
    list-style: none; /* enlever les puces */
    margin: 0; /* enlever les marges automatiques */
    justify-content: space-evenly;
    align-items: center;

    background-image:url("../Illustrations/Commun-Aux-Pages/livre2.jpg");
    background-size: 100%;    
    border-radius: 2.5vw 2.5vw 0 0;
}
 
footer a {
    color: black;
    font-size: 1vw;
    text-decoration: none;
    font-family: Kingthings;

}
footer a:visited {
    color: black;
}
footer .logoFooter:hover {
    background-color: #c2a0629a;
    border-radius: 1.5vw;
}
footer .lienFooter {
    padding: 3px;
}
footer .lienFooter:hover {
    background-color: #c2a0629a;
    border-radius: 5px;
}