body {
	margin : 0 ;
	padding : 0
}

/* header */

/* img ticket et logo*/
header .ticket {
    height: 4vw;
    padding: 0;
}
header .logo{
    height: 6vw;
    padding: 0;
}

/*Les points chiants*/
header li {
    list-style-type: none;
}

/* Liste Globale */
header .ListeGlobale {
    background-image:url("/SAE-301/Illustrations/livre.jpg");
    background-size: 100%;
    display: flex;

    align-items: top;
    text-align: center;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;

    border-radius: 0 0 30px 30px;
}

/* A, AA, AAA, AAAA !!!!*/
header a {
    color: black;
    text-decoration: none;
}
header a:visited{
    color: black;
}

/* Choix Principal */
header .ChoixPrincipal {
    font-family: Kingthings;
    justify-content: center;
    padding: 1vw;
    font-size: 25px;
    font-weight: bold;

    gap: 2px;
}
header .ChoixPrincipal:hover {
    background-color: #ffffff;
    border-radius: 0 0 20px 20px;
}

/* Lien Principal */
header .LienPrincipal {
    padding: 5px;
}


/* Lien Secondaire */
header .LienSecondaire {
    font-size: 1vw;
    padding: 1px;
    margin: 0;
}
header .LienSecondaire:hover {
    background-color: #ffffff;
    border-radius: 5px;
}
header .LienSecondaire:visited{
    color: rgb(83, 83, 83);
}
