
/* header */

/* img ticket et logo*/
header .ticket {
    height: 3.5vw;
    padding-top: 1vw;
}
header .logo{
    height: 6vw;
    padding: 0;
}

/*Les points chiants*/
header li {
    list-style-type: none;
}

/* Liste Globale */
header .ListeGlobale {
    background-image:url("../Illustrations/Commun-Aux-Pages/livre2.jpg");
    background-size: 100%;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;

    border-radius: 0 0 2.5vw 2.5vw;
}

/* A, AA, AAA, AAAA !!!!*/
header a {
    color: black;
    text-decoration: none;
}
header a:visited{
    color: black;
}

/* Choix Principal */
header .ChoixPrincipal {
    font-family: Kingthings;
    font-size: 25px;
    font-weight: bold;

    line-height: 1.5vw;

    justify-content: center;
    padding: 1vw;

    gap: 0px;
}
header .ChoixPrincipal:hover {
    background-color: #c2a0629a;
    border-radius: 20px;
}

/* Lien Principal */
header .LienPrincipal {
    padding: 5px;
}


/* Lien Secondaire */
header .LienSecondaire {
    padding: 3px;
    font-size: 1vw;
    margin: 0;
}
header .LienSecondaire:hover {
    background-color: #f7ddad65;
    border-radius: 5px;
    text-decoration: underline;
}
header .LienSecondaire:visited{
    color: rgb(83, 83, 83);
}

/* Responsive */
@media screen and (max-width: 900px) {
    header .LienSecondaire {
        display: none;
    }
    header .ticket {
        display: none;
    }
    header .LienPrincipal {
        position: relative;
        top: 1.5vw;
    }
}