body {
	margin : 0 ;
	padding : 0
}

/* header */

/* img ticket et logo*/
header .ticket {
    height: 12vw;
    padding: 1vw;
}
header .logo{
    height: 12vw;
}

/*Couleur décoration*/
header a {
    text-decoration: none;
    color: black;
}
header a:visited {
    color: black;
}
header li {
    list-style-type: none;
}

/* Liste Globale */
header .ListeGlobale {
    background-color: #CBBF7A;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;

    border-radius: 0 0 30px 30px;
}

/* Choix Principal */
header .ChoixPrincipal {
    justify-content: center;
}
header .ChoixPrincipal:hover {
    background-color: #9F956C;
}

/* Lien Principal */
header .LienPrincipal {
    
}

/* Lien Secondaire */
header .LienSecondaire {

}






.oui {
    background-color: #74654e;
    background-color: #9F956C;
    background-color: #CBBF7A;
}