/* Fichier Général Formulaire */
@import url("../Commun-Aux-Pages/header.css");
@import url("../Commun-Aux-Pages/footer.css");

main {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    text-align: justify;

}

main>section {
    width: 70vw;
}

main form button {
    display: none
}


main .blason {
    height: 10vmax;
}

/* Alignement des blasons */
main .listeblasons {
    display: flex;
    justify-content: space-between;
}

/*-----------------FORMULAIRE CSS-------------------*/

.box {
    width: 50vw;
    padding: 40px;
    margin-bottom: 25vh;

    position: relative;
    top: 50%;
    left: 50%;

    text-decoration: none;
    transform: translate(-50%, -50%);
    background: wheat;

    text-align: center;
    border-radius: 20px;
    transition: 500ms ease-out 100ms;


}



.box h2 {
    color: #000000;
    font-weight: 500;
}

.box input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #99905d;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(17, 17, 17);
    border-radius: 15px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #000000;
}

.box input[type="submit"] {
    border: 0;
    background-color: #5d996c;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #bab95b;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #b9ae71;
    color: rgb(32, 32, 32);
    transition: 500ms ease-out 100ms;
}
.button_prev{
 
    background-color:#CBBF7A;
    margin: 20px auto;
    text-align: center;
    border: 2px solid  #b9ae71;
    padding: 14px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.button_next{
    background-color:#5d996c;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b9ae71;
    padding: 14px;
    color: #fff;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
    
}
.button_prev:hover{
    background-color: #99905d;
    color: rgb(255, 255, 255);
    transition: 200ms ease-out 100ms;

  
}
.button_next:hover{
    background: #CBBF7A;
    color: #000;
    transition: 200ms ease-out 100ms;  
}
  
/* ------------- Corections css ------------- */

.listeStart {
    list-style-type: none;
    padding: 0;
}

.boutonStart{
    display: inline-block;
    text-decoration: none;
    background-color: white;
  
    border-radius: 10px;
    border: 4px double white;
    color: rgb(110, 54, 9);
    text-align: center;
    padding: 5px;
    width: 20vmax;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
}

.flexBoutonStart {
    display: flex;
    justify-content: center;
}
  
.boutonStart:hover {
    background-color: rgb(231, 231, 231);
    color:black;
}