/* Fichier Général Plan */

@import url("../Commun-Aux-Pages/header.css");
@import url("../Commun-Aux-Pages/footer.css");

main {
    display:flex;
    justify-content: center;
    padding : 2% 0;
    text-align: justify;
}

main ul>li{
    margin-bottom: 15%;
    font-family: Kingthings;
    font-size: 1.5vmax;
}

main ul>li a {
    text-decoration:none; 
}