/* Deroule > recap */

#recap {
    background-color: wheat;
    text-align: center;
    border-radius: 10px;

    padding: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vw;
}

.titre {
    margin-top: 0;
}
.planning {
    width: 100%;
}